---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About Andrew</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Hey y'all, my name is Andrew Weisbeck and I am a 34-year old freelance full-stack developer located in Durham-Chapel Hill, North Carolina. I like contributing to open source software projects (and creating my own), watching and betting on sports, and hanging out with my beautiful fiance, Lisa. We currently are "living off the grid", but are always trying to improve our situation.
		</p>
		<p>Here are some random fun facts about me:</p>
		<ul class="list-inside list-disc" role="list">
			<li>I'm a giant Nebraska Cornhuskers sports fan, especially football though</li>
			<li>My other favorite teams are the Kansas City Royals, Minnesota Timberwolves, New England Patriots, LSU Tigers, and Carolina Hurricanes</li>
			<li>The first programming language I ever learned was Python and I used to read documentation of computer programs when I was younger for fun to learn about computers</li>
			<li>I'm currently learning systems programming and am improving my skills in C-lang to become more familiar with Linux</li>
			<li>Lately, I have been building everything using the Deno runtime, my favorite piece of software to use in web development</li>
			<li>Recently, I have developed a [new found love for tennis you can read about here](/note/my-new-love-for-tennis.md)</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>

</PageLayout>
